{% extends 'baseLoginRegister.html.twig' %}

{% block title %}{{ parent() }} - Actualizar Password{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/updatePassword.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="container-content">
            <h1><i class="fa-solid fa-lock"></i> Actualizar la contraseña</h1>
            <p>Para una mayor seguridad actualice la contraseña</p>
            {% for label, messages in app.flashes %}
                <div class="alert alert-{{ label }}">
                    {% for message in messages %}
                        <p style="font-weight: bold;color: darkred">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <form action="{{ path('app_update_password') }}" method="post">
                <div class="campos">
                    <label for="new_password">Nueva contraseña</label>
                    <input type="password" id="new_password" name="new_password" placeholder="Contraseña" required>
                    <label for="new_password2">Repita la contraseña</label>
                    <input type="password" id="new_password2" name="new_password2" placeholder="Contraseña" required>
                </div>

                <button type="submit" class="campos">Actualizar</button>
            </form>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script src="https://kit.fontawesome.com/77aa5e27b8.js" crossorigin="anonymous"></script>
    {% endblock %}
{% endblock %}

