{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Clientes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/clients.css') }}">

    <!-- Estilos de datatables -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap4.css">
    <link href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    {{ parent() }}

    <div style="width: 100vw;">
        <div class="cabecera">
            <h2 class="titulo">Clientes disponibles</h2>
            <div>
                <button class="boton" id="nuevoCliente">Nuevo</button>
            </div>
        </div>
        <div class="container">
            <div class="row contenedor-dataTable">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>DNI</th>
                                <th>Teléfono</th>
                                <th>Email</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Crear Cliente -->
    <div class="modalCliente" id="modalCliente">
        <div class="modalCliente-content">
            <h1>Nuevo cliente</h1>
            <div class="contenedorFormularioCliente" id="contenedorFormularioCliente">
                <form method="post" id="formClient">
                    {#  {{ form_errors(formClient) }} #}
                    {{ form_start(formClient) }}
                    <div class="camposClient">
                        <label class="label">Nombre</label>
                        <label class="label">Apellidos</label>
                        {{ form_widget(formClient.name, {'attr': {'class': 'padding', 'placeholder': 'Nombre'}}) }}
                        {{ form_widget(formClient.surnames, {'attr': {'class': 'padding', 'placeholder': 'Apellidos'}}) }}
                        <label class="label">DNI</label>
                        <label class="label">Teléfono</label>
                        {{ form_widget(formClient.dni, {'attr': {'class': 'padding', 'placeholder': 'DNI'}}) }}
                        {{ form_widget(formClient.telephone, {'attr': {'class': 'padding', 'placeholder': 'Teléfono'}}) }}
                        <label class="label">Correo</label>
                        <label class="label">Password</label>
                        {{ form_widget(formClient.email, {'attr': {'class': 'padding', 'placeholder': 'Correo'}}) }}
                        {{ form_widget(formClient.plainPassword, {'attr': {'class': 'padding', 'placeholder': 'Contraseña'}}) }}
                        <label class="label">Rol</label>
                        {{ form_widget(formClient.roles, {'attr': {'class': 'form-control', 'placeholder': 'Rol'}}) }}
                    </div>
                    <div class="camposParalelos">
                        <button id="CerrarCliente">Cerrar</button>
                        <button type="submit">Crear</button>
                    </div>
                    {{ form_end(formClient) }}
                </form>
            </div>
        </div>
    </div>


    <!-- Modal Editar Cliente -->
    <div class="modalEditarCliente" id="modalEditarCliente">
        <div class="modalEditarCliente-content">
            <h1>Editar sesión</h1>
            <div class="contenedorFormularioEditarCliente" id="contenedorFormularioEditarCliente">
                <form method="post" id="formClientUpdate">
                    {{ form_errors(formClientUpdate) }}
                    {{ form_start(formClientUpdate) }}
                    <label class="label">Nombre</label>
                    {{ form_widget(formClientUpdate.name, {'attr': {'class': 'padding', 'placeholder': 'Nombre'}}) }}
                    <label class="label">Apellidos</label>
                    {{ form_widget(formClientUpdate.surnames, {'attr': {'class': 'padding', 'placeholder': 'Apellidos'}}) }}
                    <label class="label">DNI</label>
                    {{ form_widget(formClientUpdate.dni, {'attr': {'class': 'padding', 'placeholder': 'DNI', 'name': 'dni'}}) }}
                    <label class="label">Telephone</label>
                    {{ form_widget(formClientUpdate.telephone, {'attr': {'class': 'padding', 'placeholder': 'Teléfono'}}) }}
                    <label class="label">Email</label>
                    {{ form_widget(formClientUpdate.email, {'attr': {'class': 'padding', 'placeholder': 'Email'}}) }}
                    <div class="botonesEditarCliente">
                        <button id="cerrarEditarCliente" class="button">Cerrar</button>
                        <button type="submit" id="guardarEditarCliente">Guardar</button>
                    </div>
                    {{ form_end(formClientUpdate) }}
                </form>
            </div>
        </div>
    </div>

    <script

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/clients.js') }}"></script>
        <script type="module" src="{{ asset('js/dataTableClient.js') }}"></script>


        <!-- Script para dataTable -->
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap4.js"></script>

        <!-- Scripts para añadir botones -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js"></script>

        <script src="https://kit.fontawesome.com/77aa5e27b8.js" crossorigin="anonymous"></script>

        <script>
            new DataTable('#example');
        </script>
    {% endblock %}
{% endblock %}

